.App-main {
  background-color: #1d1e20;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  border-radius: 3px;
  font-family: 'Roboto';
}
.App-nav {
  display: flex;
  flex-direction: column;
}
.Nav-icon-container{
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.Nav-upload-container{
  background: rgb(7,182,121);
  background: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);
  margin-top:0;
  margin-left:0;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}
.Nav-upload {
  color:#1d1e20;
  transform: scale(2.5);
}
.Nav-icon {
  color: #adadad;
  transform: scale(1.7);
}
.Nav-icon-container :hover {
  color: rgb(7,182,121);
  color: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);  
  cursor: pointer;
}
.Nav-upload-container :hover{
  cursor: pointer;
}
.App-photo{
  background-color: grey;
  width: 25vw;
  position: relative;
  top: -5vw;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 2px;
}
.App-photo-details{
  margin-bottom: 50px;
  font-size: 42px;
  color: white;
  font-weight: bold;
}
.App-photo-details p{
  margin-bottom: 150px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.App-details{
  padding: 40px;
  color: #adadad;
  max-width: 400px;
  overflow-y: auto;

  text-align: justify;
  line-height: 24px;
  font-size: 15px;
}
.App-details::-webkit-scrollbar {
  -webkit-appearance: none;
}
.App-details::-webkit-scrollbar:vertical {
  width: 5px;
}
.App-details::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #adadad;
}
.App-details-title{
  font-size: 32px;
  color: white;
  padding-bottom: 20px;
  font-weight: 700;
}
.App-details-title p{
  font-size: 18px;
  color: rgb(7,182,121);
  color: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);  
}
.App-details-services p{
  font-size: 32px;
  font-weight: 700;
  color: white;
}
.App-details-services-table{
  display: flex;
  flex-direction: column;
}
.App-details-services-table-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.App-details-services-table-row p {
  color:white;
  font-size: 18px;
  font-weight: 700;
}
.App-details-services-table-row div{
  padding-right: 15px; 
  text-align: left;
}
.Service-icon{
  color: rgb(7,182,121);
  color: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);  
  padding-left: 5px;
  transform: scale(1.7);
}
.App-details-facts-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.App-details-facts-row p{
  font-size: 30px;
  color: rgb(7,182,121);
  color: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);  
  margin-bottom: 15px;
}
.App-details-fact{
  font-weight: 700;
  color: white;
  font-size: 18px;
}
hr{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #adadad;
}

