.App-main {
  background-color: #1d1e20;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  border-radius: 3px;
}
.App-nav {
  display: flex;
  flex-direction: column;
}
.Nav-icon-container{
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.Nav-upload-container{
  background: rgb(7,182,121);
  background: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);
  margin-top:0;
  margin-left:0;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}
.Nav-upload {
  color:#1d1e20;
  transform: scale(2.5);
}
.Nav-icon {
  color: #adadad;
  transform: scale(1.7);
}
.Nav-icon-container :hover {
  color: rgb(7,182,121);
  color: linear-gradient(137deg, rgba(7,182,121,1) 31%, rgba(4,152,98,1) 75%);  
  cursor: pointer;
}
.Nav-upload-container :hover{
  cursor: pointer;
}
.App-photo{
  background-color: grey;
  width: 25vw;
  position: relative;
  top: -5vw;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 2px;
}
.App-photo-details{
  margin-bottom: 50px;
  font-size: 42px;
  color: white;
  font-weight: bold;
}
.App-photo-details p{
  margin-bottom: 150px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.App-details{
  padding: 40px;
  color: #adadad;
  max-width: 400px;
}
